extends ../layouts/main-layout.pug

block content
    .container
        h1.my-3 Orders
        table.table.table-responsive
            thead
                tr
                    th(scope="col") Name
                    th(scope="col") Size
                    th(scope="col") Drink
                    th(scope="col") Time
                    th(scope="col") Status
                    th(scope="col") Action

            tbody#orderRows
                each order in orders
                    tr(id=order.id)
                        td #{order.username}
                        td #{order.size}
                        td #{order.drink}
                        td #{order.time}
                        td #{order.status}
                        td
                            if order.status === "CREATED"
                                button(type="button" class="btn btn-success" onclick=`notifyCustomerThatCoffeeOrderInProgress(${JSON.stringify(order)})`) Accept
                            else if order.status === "ACCEPTED"
                                button(type="button" class="btn btn-success" onclick=`notifyCustomerOrderReady(${JSON.stringify(order)})`) Ready

block script
    script(src="/js/barista/orders.js")