extends ../layouts/main-layout.pug

block content
    .container
        h1.my-3 My Orders
        table.table.table-responsive
            thead
                tr
                    th(scope="col") Name
                    th(scope="col") Size
                    th(scope="col") Drink
                    th(scope="col") Time
                    th(scope="col") Status
                    th(scope="col") Action

            tbody#orders
                each order in orders
                    tr(id=order.id)
                        td #{order.username}
                        td #{order.size}
                        td #{order.drink}
                        td #{order.time}
                        td #{order.status}
                        td
                            if order.status === "CREATED"
                                button(type="button" class="btn btn-danger") Cancel